<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fire Escape</title>
    <!-- To Link CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>

<body>
    {% with messages = get_flashed_messages() %}
    <!-- declare a variable called messages -->
    {% if messages %}
    <!-- check if there are any messages -->
    {% for message in messages %}
    <!-- loop through the messages -->
    <p class="alert">{{message}}</p> <!-- display each message in a paragraph tag -->

    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="container flex">

        <!-- ====== Registration Form Start ===== -->
        <div class="signup-box">
            <h1>Sign Up</h1>
            <!-- action="/register" sends it to the register route using post method -->
            <form action="/register" method="post">
                <!-- First Name Field for registration -->
                <div>
                    <label for="first_name" class="form-label">First Name</label>
                    <input type="text" id="first_name" name="first_name">
                </div>

                <!-- Last Name Field for registration -->
                <div>
                    <label for="last_name" class="form-label">Last Name</label>
                    <input type="text" id="last_name" name="last_name">
                </div>

                <!-- Email Field for registration -->
                <div>
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" id="email" name="email">
                </div>

                <!-- Password Field for registration -->
                <div>
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" name="password">
                </div>

                <!-- Confirm Password Field for registration -->
                <div>
                    <label for="pass_conf" class="form-label">Confirm Password</label>
                    <input type="password" id="pass_conf" name="pass_conf">
                </div>
                <button type="submit">Register</button>
            </form>
            <p class="para-2">Already have an account? <a href="#">Login Here</a></p>
        </div>
        <!-- ===== Registration Form End ===== -->


        <!-- ===== Login Form Start ===== -->
        <!-- log-in box starts here (for CSS) -->
        <div class="login-box">
            <h1>Log In</h1>
            <form action="/login" method="post">
                <!-- Email Field for Login -->
                <div>
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" id="email" name="email">
                </div>

                <!-- Password Field for Login -->
                <div>
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" name="password">
                </div>

                <button type="submit">Login</button>
            </form>
            <p class="para-2">Not have an account?<a href="#">Sign Up Here</a></p>
        </div>
        <!-- ===== Login Form End ===== -->

    </div> <!-- End of container -->

    <!-- For refernce only (This is how we connect our js files) -->
    <!-- <script type="text/javascript" src="{{ url_for('static',filename='js/index.js') }}"></script> -->
</body>

</html>