<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Job</title>
    <!-- To Link CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/new_job.css')}}">
</head>

<body>
    <div class="container">
        <h1>Create new job</h1>
        <a href="/dashboard">Dashboard</a>


        <!-- Validation Catcher  -->
        {% with messages = get_flashed_messages() %}
        <!-- declare a variable called messages -->
        {% if messages %}
        <!-- check if there are any messages -->
        {% for message in messages %}
        <!-- loop through the messages -->
        <p>{{message}}</p> <!-- display each message in a paragraph tag -->

        {% endfor %}
        {% endif %}
        {% endwith %}

        <form action="/create_job" method="post">

            <!-- Contractor's Name -->
            <div class="form__group">
                <input type="text" id="contractor_name" name="contractor_name" placeholder="Contractor's Name">
            </div>

            <!-- Contractor's Phone Number -->
            <div class="form__group">
                <input type="number" id="contractor_number" name="contractor_number"
                    placeholder="Contractor's Phone Number">

            </div>

            <!-- Job Address -->
            <div class="form__group">
                <input type="text" id="address" name="address" placeholder="Job Address">

            </div>

            <!-- Work Start Date -->
            <div class="form__group">
                <input type="date" id="start_date" name="start_date" placeholder="Work Start Date">

            </div>

            <!-- Work End Date -->
            <div class="form__group">
                <input type="date" id="end_date" name="end_date" placeholder="Work End Date">

            </div>

            <!-- Number of floors -->
            <div class="form__group">
                <input type="number" id="number_of_floors" name="number_of_floors" placeholder="Number of floors">

            </div>

            <!-- Price per Floor -->
            <div class="form__group">
                <input type="number" id="price_per_floor" name="price_per_floor" placeholder="Price per floor">

            </div>

            <!-- Total Price -->
            <div class="form__group">
                <input type="number" id="total_price" name="total_price" placeholder="Total Price">

            </div>

            <!-- Check if paid -->
            <div class="form__group">
                <select name="check_if_paid" id="check_if_paid">
                    <option value="">Select an Option</option>
                    <option value="paid">Paid</option>
                    <option value="partial_payment">Partial Payment</option>
                </select>
            </div>

            <!-- Partial Amount Paid -->
            <div class="form__group">
                <input type="number" id="partial_payment" name="partial_payment" placeholder="Partial Amount Paid">

            </div>

            <!-- Remaining Payment -->
            <div class="form__group">
                <input type="number" id="remaining_payment" name="remaining_payment" placeholder="Amount Remaining">

            </div>

            <!-- Expenses -->
            <div class="form__group">
                <input type="number" id="expenses" name="expenses" placeholder="Expenses">
            </div>

            <!-- Management's Name -->
            <div class="form__group">
                <input type="text" id="management_name" name="management_name" placeholder="Management's Name">
            </div>

            <!-- Contractor's Phone Number -->
            <div class="form__group">
                <input type="number" id="management_number" name="management_number"
                    placeholder="Management's Phone Number">
            </div>

            <button type="submit">Create New Job</button>
        </form>

    </div>
</body>

</html>